{% extends 'todoapp/base.html' %}


{% block body %}
<form>
    {% if task %}
                    {% for tk in task %}
    
                    <div class="card">
                        <div class="card-body" >
                            <div class="p-3 shadow">
                            <h5 class="card-title" >{{tk.title}}</h5>
                            <p><b>{{tk.description}}</b></p>
                            <p><b>{{tk.date}}</b></p>
                            <a class="btn btn-danger" href="{% url 'delete1' tk.id %}">
                                done
                            </a>
                            <a class="btn btn-success" href="{% url 'update' tk.id %}">
                                update
                            </a>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
{% else %}
<h3>Nothing Found</h3>

                    {% endif %}

</form>

                    {% endblock %}