{% extends 'todoapp/base.html' %}

{% block body %}

<div class="container-fluid">
    <div class="row" >
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text">
                    <h2>
                        ToDo's
                    </h2>
                </div>

            </div>
        </div>
    </div>
    <div class="row" >
                <div class="col-md-6" >
                    <h4> Add ToDo's</h4>
                    <form method = "POST" class="p-3 shadow">
        
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="title" id="title" placeholder="enter task:">
                        </div>
                        <br>
                    
                        <div class="form-group">
                            <input type="text" name="description" class="form-control" id="description" placeholder="enter description:">
                        </div>
                        <br>
                    
                        <div class="form-group">
                            <input class="form-control"type="date" id="date" name="date">
                        </div>
                        <br>
                        
                        <input class="btn btn-success" type="submit">
                    
                    </form>
        
                </div>
                <div class="col-md-6">
                    <h4>
                        ToDo's
                    </h4>
                    <br>

                    <h5> Search Task by date: </h5>

                    <div class="form-group">
                        <input class="form-control" type="date" id="date_search" name="date_search">
                        <br>
                        <a class="btn btn-success" href="{% url 'date' %}" type="submit"> Search </a>
                    </div>
                    <br>
                    
                        {% for tk in task %}
    
                    <div class="card">
                        <div class="card-body" >
                            <div class="p-3 shadow">
                            <h5 class="card-title" >{{tk.title}}</h5>
                            <p><b>{{tk.description}}</b></p>
                            <p><b>{{tk.date}}</b></p>
                            <a class="btn btn-danger" href="{% url 'delete1' tk.id %}">
                                done
                            </a>
                            <a class="btn btn-success" href="{% url 'update' tk.id %}">
                                update
                            </a>
                        </div>
    
        
            
                        
            
                    </div>
                    <br>
                    {% endfor %}
    
                    </div>
                    
    
        </div>
        
    </div>
    
        
        

</div>



 
{% endblock %}